<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolff.jackson.aula04_jacksonwolff" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListarActivity"
            android:label="@string/title_activity_listar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wolff.jackson.aula04_jacksonwolff.MainActivity" />
        </activity>
        <activity
            android:name=".CadastrarActivity"
            android:label="@string/title_activity_cadastrar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wolff.jackson.aula04_jacksonwolff.MainActivity" />
        </activity>
        <activity
            android:name=".SobreActivity"
            android:label="@string/title_activity_sobre"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wolff.jackson.aula04_jacksonwolff.MainActivity" />
        </activity>
        <activity
            android:name=".DetalheProduto"
            android:label="@string/title_activity_detalhe_produto"
            android:parentActivityName=".ListarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wolff.jackson.aula04_jacksonwolff.ListarActivity" />
        </activity>
    </application>

</manifest>
